body{
    background-color: rgb(245, 253, 255);
}
.api {
    text-align: center;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
    color: #222;
    font-family: sans-serif;
}
.input {
    width: 250px;
    height: 30px;
    border: 3px solid #ABC;
    border-radius: 10px;
    text-align: center;
    color: #888;
    outline: none;

}
.button {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 100px;
    height: 50px;
    color: #fff;
    outline: none;
    border: none;
    background-color: rgb(19, 130, 194);
    border-radius: 2px;
    transition: 0.5s;
    cursor: pointer;
}
.button:hover {
    border: 1px solid rgb(19, 130, 194);
    background-color: transparent;
    color: rgb(19, 130, 194);
}
.character {
    width: 300px;
    height: 600px;
    background-color: #555;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    line-height: 80px;
    margin-top: 20px;
    margin-left: 20px;
    color: #DDD;
    border-radius: 5px;
}
.characterImg {
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}
.characterInfoItem {
    font-size: 14px;
    line-height: 28px;
    width: 88%;
    margin: 0 auto;
    border-bottom: 1px solid #777;
}
.info {
    width: 400px;
    font-size: 14px;
    letter-spacing: 1.1px;
    line-height: 20px;
    color: #009acd;
    font-family: sans-serif;
    position: absolute;
}